extends layout

block content
  h1 Evernote Node.js Express Demo
  p
    | This application uses the 
    a(href='http://expressjs.com/') Express
    |  framework to demonstrate the use of OAuth to authenticate to the Evernote web service.
  hr
  h2 Created a new note.
  br
  a(href='/') Main Menu

